<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/editReview.css">
  <link rel="stylesheet" href="/stylesheets/home.css">
  <link rel="stylesheet" href="/stylesheets/HyF.css">
  <script src="https://kit.fontawesome.com/6a7542e233.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/css/uikit.min.css" />
  <script src="/javascripts/seriesxgenero.js" charset="utf-8"></script>
  <script src="/javascripts/home.js" charset="utf-8"></script>
  <script src="/javascripts/busquedaAvanzada.js" charset="utf-8"></script>
  <script src="/javascripts/prevenirbusquedavacia.js" charset="utf-8"></script>

  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/slick.css"/>
  <script type="text/javascript" src="/javascripts/slick.min.js"></script>

  <!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit-icons.min.js"></script>

<link href="https://fonts.googleapis.com/css?family=Abhaya+Libre:400,500|Aleo:400,700|Arbutus+Slab|Bowlby+One+SC|EB+Garamond:400,500|Gilda+Display|Merriweather:300|Noto+Serif+SC:400,500|Roboto:100|Source+Serif+Pro|Special+Elite|Staatliches|Zilla+Slab:500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=BioRhyme+Expanded:800|Bowlby+One+SC&display=swap" rel="stylesheet">
</head>

<body>
  <%- include('../partials/header') %>
  <main>
   <h1 class="titulo">Holis vamos a editar esta serie</h1> 

   <form action="/users/misResenias/edit/<%= resultado.id %> " method="POST" class="resenia">
   <% if (error) {  %> 
        <p>Usuario o contraseña son incorrectos</p>
   <% }  %> 

    <div>
      <label for="">Email: </label><br>
      <input class="resenia" type="email" name="email" placeholder="Escriba aquí">

    </div>

    <div>
      <label for="">Contraseña:</label><br>
      <input class="resenia" type="password" name="password" placeholder="Escriba aquí" required>

    </div>

    <div>
      <label for="">Comentario:</label><br>
      <textarea name="comment" id="" cols="70" rows="7" required> <%= resultado.text %> </textarea>
    </div>

    <div>
      <label for="">Puntaje (del 1 al 10, siendo 10 lo más alto)</label> <br>
      <input class="puntaje" type="number" min="0" max="10" name="rating" placeholder="nº"> <br>
    </div>
    <input class="enviar" type="submit" value="Confirmar">
  </form>
</main>

<%- include('../partials/footer') %>
</body>
</html>