<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="/stylesheets/HyF.css">
  <link rel="stylesheet" href="/stylesheets/home.css">
  <link rel="stylesheet" href="/stylesheets/favoritas.css">
  <script src="/javascripts/favoritas.js" charset="utf-8"></script>
  <script src="https://kit.fontawesome.com/6a7542e233.js"></script>
  <script src="/javascripts/busquedaAvanzada.js" charset="utf-8"></script>
  <!--Ulkit CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/css/uikit.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Abhaya+Libre:400,500|Aleo:400,700|Arbutus+Slab|Bowlby+One+SC|EB+Garamond:400,500|Gilda+Display|Merriweather:300|Noto+Serif+SC:400,500|Roboto:100|Source+Serif+Pro|Special+Elite|Staatliches|Zilla+Slab:500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=BioRhyme+Expanded:800|Bowlby+One+SC&display=swap" rel="stylesheet">
  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/css/uikit.min.css" />
  <!-- UIkit JS -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit-icons.min.js"></script>
</head>
<body>
  <div class="error">

  </div>
  <%- include('../partials/header') %>
  <main>
    <section>
      <div class="busquedaAvanzada">

        <div id="offcanvas-derecho" uk-offcanvas="flip: true">
          <div class="uk-offcanvas-bar">
            <button class="uk-offcanvas-close" type="button" uk-close></button>
            <h3>Busqueda avanzada</h3>
            <form class="form-avanzado" action="./resultadoavanzado" method="get">
              <p class="busqueda"> Genero: </p>
              <select class="opcionesGenero" name="genero">
                <option value=""></option>
              </select>
              <br><p class="busqueda"> Excluir: </p>
              <select class="excluir" name="excluir">
                <option value=""></option>
              </select>
              <br> <p class="busqueda"> Ordenar por: </p>
              <select class="orden" name="orden">
                <option value=""></option>
                <option value="vote_average.desc">Más votadas desc.</option>
                <option value="vote_average.asc">Más votadas asc.</option>
                <option value="first_air_date.desc">Fecha estreno desc.</option>
                <option value="first_air_date.asc">Fecha estreno asc.</option>
                <option value="popularity.desc">Popularidad desc.</option>
                <option value="popularity.asc">Popularidad asc.</option>
              </select>
              <br> <p class="busqueda"> Año de estreno:</p>
              <input class="year" type="number" name="year" value="first_air_date_year">
              <button type="submit" name="Buscar">Buscar</button>
            </form>
          </div>
        </div>
      </div>
    </section>
<!-- div para la alerta de error -->
        <div class="error">

        </div>

  <h2>Series Favoritas</h2>
  <section class="padrefav">
    <ul>

    </ul>
  </section>
  </main>


  <%- include('../partials/footer') %>

  <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit-icons.min.js"></script>
  <script src="/javascripts/prevenirbusquedavacia.js" charset="utf-8"></script>
</body>
</html>
