<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/registro.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/HyF.css">
    <script src="https://kit.fontawesome.com/6a7542e233.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/css/uikit.min.css" />
    <script src="/javascripts/seriesxgenero.js" charset="utf-8"></script>
    <script src="/javascripts/home.js" charset="utf-8"></script>
    <script src="/javascripts/busquedaAvanzada.js" charset="utf-8"></script>
    <script src="/javascripts/prevenirbusquedavacia.js" charset="utf-8"></script>
  
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/slick.css"/>
    <script type="text/javascript" src="/javascripts/slick.min.js"></script>
  
    <link href="https://fonts.googleapis.com/css?family=Abhaya+Libre:400,500|Aleo:400,700|Arbutus+Slab|Bowlby+One+SC|EB+Garamond:400,500|Gilda+Display|Merriweather:300|Noto+Serif+SC:400,500|Roboto:100|Source+Serif+Pro|Special+Elite|Staatliches|Zilla+Slab:500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=BioRhyme+Expanded:800|Bowlby+One+SC&display=swap" rel="stylesheet">
  
</head>
<body>
<!-- div para la alerta de error -->
      <div class="error">
    
      </div>
      
      <header class="mainHeader">
        <div class="dosPalabras">  
        <a class="head" href= "./home"><label for="">Inicio</label></a>
          <a class="resenias" href= "./users/misResenias">MyReviews</a>
          </div>
        <h1>Veo<a href="./home"><img src="/images/logo.png" alt=""></a>Veo</h1>
          <form class="form-buscador" action="./resultado" method="get" id="busqueda">
            <input class="buscadorsecundario inputHidden" type="text" name="buscadorsecundario" placeholder="Buscador" value="">
            <button type="submit">Enviar</button>
            <i class="fas fa-search" id="lupita"></i>
            <a href="./favoritas" ><i class="fas fa-heart"></i></a>
            <a href="#offcanvas-derecho" uk-toggle><i class="fas fa-filter"></i></a>
            <a href="../users/login" uk-toggle><i class="fas fa-user"></i></a>
          </form>
        </header>


    <!-- ACA VA FORMULARIO DE REGISTRO -->
   <main class="mainRegistro">
     <h1 id="register">¡Registrate!</h1>
     <form  action="/users/registro" method="POST" class="registro">
        <div >
            <label for="">Nombre</label><br>
            <input class="registro" type="text" name="name" value="" placeholder="Escriba aquí">
        </div>
        <div >
            <label for="">Email</label><br>
            <input class="registro" type="email" name="email" value="" placeholder="Escriba aquí">
        </div>
        <div >
            <label for="">Fecha de nacimiento</label><br>
            <input class="registro" type="date" name="birthday" value="" placeholder="Escriba aquí">
        </div>
        <div >
            <label for="">Contraseña</label><br>
            <input class="registro" type="password" name="password" value="" placeholder="Escriba aquí">
        </div >
        <input class="enviar" type="submit" value="Enviar">
     </form>
    </main>

     <%- include('../partials/footer') %>
</body>

</html>