<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/HyF.css">
</head>
<body>
    <!-- div para la alerta de error -->
      <div class="error">
    
      </div>
      <%- include('../partials/header') %>

<body>
    <!-- ACA VA FORMULARIO DE REGISTRO -->
    <h1>¡Registrate!</h1>
    <form action="/users/registro" method="POST">
        <div>
            <label for="">Nombre</label>
            <input type="text" name="name" value="" placeholder="Escriba aquí">
        </div>
        <div>
            <label for="">Email</label>
            <input type="email" name="email" value="" placeholder="Escriba aquí">
        </div>
        <div>
            <label for="">Fecha de nacimiento</label>
            <input type="date" name="birthday" value="" placeholder="Escriba aquí">
        </div>
        <div>
            <label for="">Contraseña</label>
            <input type="password" name="password" value="" placeholder="Escriba aquí">
        </div>
        <input type="submit" value="Enviar">
    </form>

    <%- include('../partials/footer') %>
</body>

</html>