*{box-sizing: border-box;}

h1#register{
    margin-top: 3%;
    color: white;
    text-align: center;
    margin-bottom: 2%;
    font-size: 50px;
    font-family: 'Zilla Slab', serif;
}


input.registro{
    width: 35%;
    height: 37px;
    border-radius: 8px;
    margin: 0.5%;
}
input.buscar{
    width: 15%;
    height: 30px;
    border-radius: 8px;
    margin: 1.5%;
    background-color: yellow;
    font-weight: bold;
}
form.login{
    text-align: center;
}

form.login input.email{
    margin-bottom: 1%;
    width: 30%;
    justify-content: center;
}
form.login input.usuario{
    margin-bottom: 1%;
    width: 30%;
    justify-content: center;
}

form label#email{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
}
form label#user{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
}

main {
    min-height: calc(100vh - 110px);
    margin-top: 10%;
}

div.nada{
    margin-top: 3%;
}

form.uk-button-text{
text-decoration-color: white;
}
