*{box-sizing: border-box;}

h1.titulo{
    color: white;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 20px;
    font-family: 'Zilla Slab', serif;
}

h1.borrar{
    color: white;
    margin-bottom: 2%;
    font-size: 30px;
    font-family: 'Zilla Slab', serif;
}
button.confirmar{
    width: 15%;
    height: 30px;
    border-radius: 8px;
    margin: 1.5%;
    margin-top: 1%;
    background-color: yellow;
    font-weight: bold;
}
main{
    text-align: center;
    height: 100%;
}
main form input{
    text-align: left;
}
