*{box-sizing: border-box;}

main{
    min-height: calc(100vh - 110px);
}
div.todo{
margin-left: 45px;
}

ul#detail {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

ul#comentario{
    margin-top: 1%;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

h1.detalle{
    color: white;
    margin-top: 2%;
    margin-left: 0;
    margin-bottom: 2%;
    font-size: 40px;
    font-family: 'Zilla Slab', serif;
}
h2#h2{
    font-family: 'Zilla Slab', serif;
    font-size: 30px;
    margin-top: 3%;
}

