*{box-sizing: border-box;}
main{
    height: 520px;
    text-align: center;
}

h1.titulo{
    color: white;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 20px;
    font-family: 'Zilla Slab', serif;
}
form label{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
form input.resenia{
    justify-content: center;
    width: 30%;
    margin-bottom: 1%;
  }

textarea{
    width:30%;
    margin-bottom: 1%;
}

form input.puntaje{
    justify-content: center;
    width: 3%;
  }

input.enviar{
    width: 15%;
    height: 30px;
    border-radius: 8px;
    margin: 1.5%;
    background-color: yellow;
    font-weight: bold;
}