*{box-sizing: border-box;}

h1#register{
    color: white;
}
body{
    color: white;
    text-align: center;
}

input.registro{
    width: 35%;
    height: 37px;
    border-radius: 8px;
    margin: 0.5%;
}
input.enviar{
    width: 15%;
    height: 30px;
    border-radius: 8px;
    margin: 1.5%;
    background-color: yellow;
    font-weight: bold;
}