*{box-sizing: border-box;}


body{
  background-color: rgb(50, 54, 57);
  /* overflow: hidden; */
}
.resultados{
  min-height: 100vh;
}
button#buscador {
	color: black;
}

header {
  display: flex;
  justify-content: space-between;
}

/*position a la derecha de la lupa*/
form.form-buscador {
	display: flex;
	justify-content: flex-end;
	padding: 5px;
}

/* cajita q deslice de la lupa*/
form.form-buscador .buscadorsecundario {
	width: 200px;
	height: 20px;
	border-radius: 4px;
	transition: all 0.3s ease-in-out;
}

/* q al pretar enter se envie sin mostrar botton de la lupa*/
form.form-buscador button[type="submit"] {
	display: none;
}

/*q se ponga el pointer al pasar x la lupita y la separacion*/
form.form-buscador i.fas {
	margin-left: 10px;
	cursor: pointer;
}

/* q se esconda la cajita de la lupa */
form.form-buscador .buscadorsecundario.inputHidden {
	visibility: hidden;
	width: 0px;
}


section.resultados div.pelis{
justify-content: space-around;
width:20%;
/* height: 24%; */
}
section.resultados{
  display:flex;
  flex-wrap: wrap;
}

h2.title { /*ESTO ES PARA LA PALABRA DEL GENERO DESPUES DE LA BUSQUEDA*/
  width:100%;
  color: #c6f01d;
  font-size: 33px;
  margin-left: 2%;
 margin-top: 1%;
  margin-bottom: 1%;
  font-family: 'Zilla Slab', serif;
}

div#busqueda{
  margin-left: 1%;
  margin-right: 2%;
}
div.uk-grid-margin{
  margin-top: 23px;
}
div#busqueda img:hover{
  border: 2px solid yellow;
}

h1.title{
  color: gray;
}

div.noHay{
  color: white;
  font-size: 20px;
  margin-left: 10px;
}
/*Titulo del genero*/
